
:root { --bod1: #404040; --bod2: #505050; --bg1: #1a1a1a; --bg2: #2d2d2d; --bg3: #404040; --col1: #ffffff; --col2: #00b7ff; --btn1: #1447e6; --btn2: #ff5b5bb5; --trans: transparent; }

body { display: flex; height: auto; width: auto; justify-content: center; align-items: center; padding: 4px; margin: 0; background: var(--bg1); color: var(--col1); position: relative; }

box.box { display: none; height: auto; width: auto; border: 1px; border-radius: 17px; background-color: var(--bg1); text-align: justify; padding: 32px 20px; font-size: 14px; }

input.inp { display: block; height: 27px; width: 218px; margin: auto; margin-bottom: 15px; background: var(--bg2); color: var(--col2); border: 1px solid var(--bod1); }

button.btn { display: flex; height: 28px; width: 100%; border-radius: 16px; margin-top: 4px; background-color: var(--trans); border: none; align-items: center; justify-content: space-between; border: 1px solid var(--bod2); }

button.btn1 { background: var(--col2); color: var(--col1); justify-content: center !important; cursor: pointer; }

.data_show { position: absolute; bottom: 4px; right: 4px; background-color: var(--bod1); border: 1px solid var(--bod2); cursor: pointer; }

img.img_icon { height: 22px; filter: drop-shadow(2px 4px 6px black); transform: rotateY(180deg); }

box.box2 { display: none; height: 405px; width: 200px; border-radius: 18px; background-color: var(--bg2); padding: 0px 5px; }

box.boxx { display: block; height: 25px; width: 100%; border: 1px; margin: auto; margin-top: 5px; border-radius: 7px; color: var(--col1); background-color: var(--col2); text-align: center; align-content: center; font-family: monospace; cursor: pointer; }

button#fetch { text-align: -webkit-right; }

box.reload { display: block; height: 100%; width: 26px; border-radius: 50%; text-align: center; align-content: center; cursor: pointer; color: var(--col2); }

.fa-rotate:before, .fa-sync-alt:before { content: "\f2f1"; }

box.websites { display: block; height: 80%; width: auto; border: 1px solid var(--bod2); overflow: scroll; margin-top: 7px; padding: 2px 6px; border-radius: 7px; background-color: var(--bg3); }

i { transition: font-size 0.5s ease; font-size: 16px; }
i:active { font-size: 14px; }

.btn-delete { display: none; height: 28px; width: 100%; border-radius: 16px; margin-top: 5px; background: var(--btn2); border: 1px; cursor: pointer; }

box.websites::-webkit-scrollbar { display: none; }

box.box3 { display: none; height: 290px; width: 273px; padding: 5px; border: none; border-radius: 22px; background-color: var(--bg2); overflow-y: scroll; position: relative; }

button.btn3 { background-color: var(--trans); }

box.box31 { display: block; height: 52px; width: 89%; border: 1px solid; padding: 0px 18px; border-radius: 15px; align-content: center; background: #2f2c2c; color: azure; font-size: 14px; font-family: monospace; margin-top: 3px; }

box.gmail { display: flex; height: 28px; width: auto; border-radius: 17px 17px 0px 0px; justify-content: space-around; margin-top: 6px; }

box.gmaill { border-radius: 17px 0px 0px 0px; }

box.pass { border-radius: 0px 17px 0px 0px; }

box.bb { display: block; height: 100%; width: 49%; border: none; color: var(--bg3); background: var(--col2); text-align: center; align-content: center; font-size: 18px; font-family: monospace; font-weight: bolder; }

box.main { display: flex; height: 28px; width: auto; justify-content: space-around; margin-top: 4px; }

box.cc { display: block; height: 100%; width: 49%; border: 1px; color: var(--col1); background-color: var(--bod2); text-align: center; align-content: center; font-size: 15px; font-family: monospace; cursor: pointer; overflow: hidden; }

box.mai { display: block; height: 95%; width: 100%; overflow: scroll; }

p, h4 { margin: 0; padding: 0; }

.box3::-webkit-scrollbar, .mai::-webkit-scrollbar { display: none; }

.temp1 .box { display: block !important; }
.temp2 .box2 { display: block !important; }
.temp3 .box3 { display: block !important; }